body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}
.top-banner, .dream-big, .experience-div{
    display: flex;
    padding-top: 4%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
button{
    margin-top: 25px;
    background-image: linear-gradient(#FF2278, #FF4790);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
.top-banner{
    background-image: url(./top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    margin-top: 1%;
}
.experience-item{
    box-shadow: 10px 10px 15px lightgray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(#fa82b2, #FF2278);
    border-image-slice: 30;
    padding: 2%;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}