body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}
section{
    display: flex;
    padding-top: 4%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
button{
    margin-top: 25px;
    background-image: linear-gradient(#FF2278, #FF4790);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
.top-banner{
    background-image: url(./top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    margin-top: 1%;
}